<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flip Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <h1>Welcome to FashCard!</h1>
    <div class="card">
        <div class="card-inner">
            <div class="card-front cards">
                <h2>{{ cards[0].front }}</h2>

            </div>
            <div class="card-back hidden">
               <p>{{ cards[0].back }}</p>
            </div>
        </div>
    </div>
    <div class="button_section">
        <div>
            <button class="flip-button">Flip Card</button>
        <button class="next-button">Next Card</button>
        </div>
        <div>
            <button class="add-button">Add Card</button>
            <button class="delete-button">Delete Card</button>
        </div>
    </div>

     <div class="new_form ">
            <form id="new-card-form">
                <h2>Add a New Card</h2>
                <label for="front"></label><input type="text" id="front" placeholder="Front of Card" required>
                <label for="back"></label><textarea id="back" placeholder="Back of Card" required></textarea>
                <button type="submit">Add Card</button>
            </form>

     </div>

</div>
<script src="../static/script.js"></script>
</body>
</html>